* {
  box-sizing: border-box;
}
body{
  margin: 0;
  background-color: #767676;
}
.header{
      background-position: center top;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-image: url(../img/tild3830-3966-4464-b263-353635333339__13.jpg);
      background-size: cover;
      width: auto;
      height: auto;
}



.mk{
  color: white;
  
}

a{  
  text-decoration: none;
  color: white;
}


.site-header{
  color: white;
      flex-direction: row;
      display: flex;
      width: 1300px;
      height: 50px;
      padding: 25px 15px;
      justify-content:  space-around;

}

.mk{
  font-size: 90px;
  padding: 1px 50px;
  display: flex;
  justify-content: end;
}

  .osn{
    display: flex;
    background-color: #D9D9D9;
    flex-wrap: nowrap;
    flex-direction:column;
    color: black;
    align-items: stretch;
    justify-content:  space-between;

  }
  h1{
    display: block;
  }

.zag{
  display: block;
  font-size: 25px ;
  margin: 7% 3%;
}
.text{
  display: block;
  text-indent: 2%;
  margin: 0% 10%;
  font-size: 23px;
  text-align: justify;
}
.test_{
  background-color: rgb(244, 244, 244);
  display: block;
  text-indent: 2%;
  margin: 5% 10%;
  
}


footer{
  margin: 0;
  background-color: #313030;
  flex-direction: row;
  display: flex;
  width: auto;
  height: 100px;
  padding: 25px 15px;
  justify-content:  space-around;
  color: #f1eeee;
  }

  .back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    font-size: 24px;
    color: #fff;
    background: #000;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
  }
   
  .back-to-top:hover {
    background: #333;
    text-decoration: none;
  }